[submodule "vendor/paho.mqtt.c"]
	path = vendor/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "vendor/cjson"]
	path = vendor/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "vendor/libmodbus"]
	path = vendor/libmodbus
	url = https://github.com/stephane/libmodbus
